@font-face {
    font-family: gamefont;
    src: url("https://raw.githubusercontent.com/ghostypostie/Water/main/font2.ttf");
}

:root {
    --numX: 1.2;
    --numY: 1;
    --hpBarWidth: 400px;
}

#uiBase {
    height: calc(100%/var(--numY)) !important;
    width: calc(100%/var(--numX)) !important;
    transform: scaleX(var(--numX)) scaleY(var(--numY)) !important;
}

/* removals */
#aHolder,
#endAHolder,
#tlInfHold,
#streamContainerNew,
#matchInfoHolder,
#mainLogo,
.menuItem:nth-child(4),
.menuItem:nth-child(3),
#menuBtnQuickMatch,
#termsInfo {
    display: none;
}

#subLogoButtons {
    left: 40%;
    bottom: 0;
}

/* rgb border on menu username */
#menuAccountUsername {
    border: none;
    animation: none;
    font-size: 15px;
}

/* menu pic before username */
#menuMiniProfilePic {
    content: url('https://i.postimg.cc/FHTy2Pz7/me.png');
    margin-top: 3px;
}

/* chat */
#chatHolder {
    max-width: unset;
    min-width: unset;
    width: 280px !important;
}

#uiBase.onCompMenu #chatHolder {
    left: 20px;
    bottom: 20px;
}

#uiBase.onGame #chatHolder {
    left: 20px;
    bottom: 15px;
}

#uiBase.onSpect #chatHolder {
    left: 20px;
    bottom: 20px;
}

#uiBase.onEndScrn #chatHolder {
    left: 20px;
    bottom: 20px;
}

#chatInput {
    border-radius: 0px;
}

#chatList {
    background-color: transparent;
}

#chatList::-webkit-scrollbar {
    display: none;
}

.killfeedMsg {
    background-color: transparent;
    margin: unset !important;
}

.chatItem {
    max-width: 280px;
    overflow-wrap: break-word;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-top: unset;
    margin-left: unset;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.chatMsg {
    color: rgba(255, 255, 255, 0.7);
}

.headShotChatIcon {
    display: none;
}

#voiceDisplay[style="bottom: 145px;"] {
    bottom: 117px !important;
}

#chatInputHolder {
    background-color: transparent;
    border: none;
    padding: 0px;
    align-items: center;
}

#chatInput {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    width: 100%;
}

#chatSwitch {
    position: relative;
    bottom: 2px;
    display: none;
}

#uiBase.onMenu #voiceDisplay {
    left: 350px;
}

.greyInner,
.greyInlineInner,
.greyInlineInnerMid {
    background: transparent;
}

#chatInput {
    margin-left: -154px;
}

#voiceIcon,
#recTimer {
    display: none;
}

/* settings */
#menuWindow.dark,
.settingsHeader,
.setBodH {
    background: #222
}

.settingsBtn[style="width:auto;background-color:#994cd1"] {
    display: none;
}

.setHed {
    display: none;
}

.settName,
.settNameSmall {
    border: none;
}

/* timer */
#timerIcon.topLeftOld {
    display: none;
}

#timerHolder.topLeftOld {
    background: transparent;
}

#timerInner.topLeftOld {
    background: rgba(0, 0, 0, 0.2);
}

#timerVal.topLeftOld {
    font-size: 40px !important;
}

#matchInfo.topLeftOld {
    font-size: 0px !important;
    padding: 5px;
}

#matchInfo {
    margin-left: -2px;
}

#matchInfo.topLeftOld::after {
    content: 'Vivid Obsidian';
    font-size: 18px;
    color: #C50000;
}

/* fps ping */
#pingDisplay,
#fpsDisplay,
#ingressDisplay,
#egressDisplay,
#tickDisplay {
    margin-top: 15px;
}

/* health */
#bottomLeftPlayerLeft {
    display: none
}

#bottomLeftPlayer {
    background-color: transparent;
}

#bottomLeftPlayerRight {
    background-color: transparent;
}

#bottomLeftHealthBar {
    background: 0px rgb(0 0 0 / 30%);
    column-gap: 0px;
    padding: 0;
    box-shadow: 5px 5px 0 rgb(0 0 0 / 30%);
}

#bottomLeftChallIcon {
    display: none;
}

#bottomLeftTeamType {
    display: none;
}

#bottomLeftTeamName {
    display: none;
}

.nHpBSeg {
    border-radius: 0px;
    background-color: white !important;
}

.nHealthBarSeg {
    background: 0;
    margin-left: -1px;
    height: 40px;
}

#bottomLeftPlayerMid {
    position: fixed;
    bottom: 2.5rem;
    left: calc(50% - var(--hpBarWidth) / 2);
}

#bottomLeftChallIcon {
    display: none;
}

#bottomLeftPlayerMid {
    width: var(--hpBarWidth);
}

#bottomLeftHealth {
    position: fixed;
    left: 27rem;
    bottom: calc(0% + 0px);
    font-size: 80px;
    color: white !important;
    text-shadow: 5px 5px rgb(0 0 0 / 30%);
    text-align: right !important;
}

/*game*/
.killStreakItem {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 130px;
    right: 1%;
}

#ammoHolder {
    position: fixed;
    background-color: transparent;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    transform: unset;
    width: 50px;
    height: 4px;
    top: calc(50% + 35px);
    left: calc(50% - 25px);
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    border-radius: 0;
}

#ammoVal {
    position: fixed !important;
    background-color: transparent;
    left: 63rem;
    bottom: 0px !important;
    font-size: 80px;
    color: white !important;
    letter-spacing: 2px;
    text-shadow: 5px 5px rgb(0 0 0 / 30%);
}

#ammoMax,
#ammoIcon {
    display: none !important;
}

/* Reload edit */
#reloadMsg {
    bottom: 105px;
}

/* Weapon edit */
#weapHolder {
    position: absolute;
    z-index: 1;
    bottom: 0px;
}

.weapItem {
    position: relative;
    text-align: right;
    color: #fff;
    font-size: 0px;
    word-break: break-all;
    overflow-wrap: break-word;
    background-color: rgb(20 20 20 / 0%);
    margin: -7px;
}

.weapItemInner {
    color: rgba(255, 255, 255, .7);
    background-color: rgb(108 108 108 / 0%);
    display: inline-block;
}

.weapSkin,
.weapStreakHolder,
.weapStreakInner,
.weapStreak,
.weapKey {
    display: none;
}

.weapKey {
    left: 123px;
    top: 18px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    background-color: rgb(0 0 0 / 0%);
    text-align: center;
    border-bottom-right-radius: 4px;
}

.weapKey::before {
    content: '[';
}

.weapKey::after {
    content: ']';
}

/* leaderboard */
#leaderboardHolder {
    background: transparent;
}

#leaderContainer {
    background: rgba(0, 0, 0, 0.2);
}

.leaderNameM {
    color: black;
}

/* counters staticon */
.statIcon {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0;
    margin-right: 4px;
}