/* Ad Blocking CSS */
body.adBlock #aHider {
    display: none !important;
}

body.adBlock .endAHolder {
    display: none !important;
}

body.adBlock #adCon {
    display: none !important;
}

body.adBlock #mainLogo {
    display: none !important;
}

body.adBlock #topRightAdHolder {
    display: none !important;
}

body.adBlock #endAContainer {
    display: none !important;
}

body.adBlock #bubbleContainer {
    display: none !important;
}
